.random-num{
	display: flex;
}
.random-create{
		width: 600px;
		height: 500px;
		margin: 50px 0 0 130px;
		background-color: #f6704e;
}
.digit{
		width: 600px;
		height: 500px;
		margin: 50px 100px 0 140px;
		background-color: #f6704e;
}
.option{
		font-size: 50px;
		font-weight: bold;
		width: 450px;
		height: 180px;
		margin: 20px;
		background-color: #00bcac;
		padding: 20px 20px 0 20px;
}
.min{
		margin: 0 0 20px 0;
		font-size: 40px;
		font-weight: bold;
}
input{
	width: 400px;
}
.max{
		margin: 0 0 20px 0;
		font-size: 40px;
		font-weight: bold;
}
.repeat1{
		font-size: 40px;
		font-weight: bold;
		width: 300px;
		height: 70px;
		text-align: center;
		background-color: #00bcac;
		padding:5px 90px 5px 90px;
		margin: 20px 0 0 20px;
}
.make{
		font-size: 35px;
		font-weight: bold;
		width: 300px;
		height: 60px;
		margin: 40px 0 0 64px;
		background-color: #00bcac; 
		padding:5px 90px 5px 90px;
		margin: 20px 0 0 20px;
		text-align: center;
}
.button{
		width: 100px;
		height: 60px;
		font-size: 25px;
		font-weight: bold;
		margin: 10px 0 0 1430px;
}